@model TexteDiversDto

@{
    ViewData["Title"] = "Gestion du contact";
    Layout = "_LayoutAdmin";
}

<script>
    function onSaveContactClick(e) {
        $("#Enregistrer" + "@Model.Id").attr('disabled', true);

        var titreFrTextbox = $("#contactTitreFrTextBox").data("kendoTextBox");
        let titreFr = titreFrTextbox.value();

        var titreEnTextbox = $("#contactTitreEnTextBox").data("kendoTextBox");
        let titreEn = titreEnTextbox.value();

        var editor = $("#contactDetailFrEditor").data("kendoEditor");
        let detailFr = editor.value();

        editor = $("#contactDetailEnEditor").data("kendoEditor");
        let detailEn = editor.value();

        if (titreFr !== "" && titreEn !== "" && detailFr !== "" && detailEn !== "") {
            $.ajax({
                url: '@Url.Action("UpdateContact", ContactController.ControllerName)',
                type: "POST",
                data: { contactId: "@Model.Id", titreFr: titreFr, titreEn: titreEn, detailFr: detailFr, detailEn: detailEn },
                success: function (recData) {
                    enregistrementReussi()
                    $("#Enregistrer" + "@Model.Id").attr('disabled', false);
                },
                error: erreurFunction
            });
        } else {
            showNotification('@(LibellesConstantes.ChampsObligatoires)', 'warning')
        }
    }
</script>

<h2>@ViewData["Title"]</h2>

<div class="k-card">
    @(Html.Kendo().TabStrip()
            .Name("contactsTabs")
            .Animation(animation =>
            {
                animation.Open(effect =>
            {
                effect.Fade(FadeDirection.In);
            });
            })
            .Items(tabstrip =>
            {
                tabstrip.Add().Text("Français")
            .Selected(true)
            .Content(@<text>
                @(Html.CreateDefautTextBox(new() { Label = LibellesResources.TexteDiversTitreFr, Name = "contactTitreFrTextBox", Value = Model.TitreFr, HtmlAttributes = new { @class = "cus-width-max" } }))
                    <label class="cus-mt-10" for="contactDetailFrEditor">@LibellesResources.TexteDiversDetailFr</label>
                    @(Html.CreateDefautEditor(new() { Name = "contactDetailFrEditor", Value = Model.DetailFr, HtmlAttributes = new { style = "width: 100%; height:470px" } }))
                </text>);

                tabstrip.Add().Text("Anglais")
            .Content(@<text>
                @(Html.CreateDefautTextBox(new() { Label = LibellesResources.TexteDiversTitreEn, Name = "contactTitreEnTextBox", Value = Model.TitreEn, HtmlAttributes = new { @class = "cus-width-max" } }))
                    <label class="cus-mt-10" for="contactDetailEnEditor">@LibellesResources.TexteDiversDetailEn</label>
                    @(Html.CreateDefautEditor(new() { Name = "contactDetailEnEditor", Value = Model.DetailEn, HtmlAttributes = new { style = "width: 100%; height:470px" } }))
                </text>);
            })
        )
    <div class="cus-textalign-droite cus-m-10">
        @(Html.Kendo().Button().CreateDefautButtonEnregistrer(Model.Id.ToString(), "onSaveContactClick"))
    </div>
</div>
