@model IntroductionIndexModel

@{
    ViewData["Title"] = "Gestion de l'introduction";
    Layout = "_LayoutAdmin";
}

<h2>Gestion de l'introduction</h2>
<div class="row cus-mb-10">
    <div class="col-lg-11 col-md-11 col-xs-11">
        @(Html.Kendo().ComboBox()
            .CreateDefautComboBox("dropDownIntroduction", LibellesResources.IntroductionComboBoxPlaceholder, nameof(IntroductionDto.TitreFr), nameof(IntroductionDto.Id))
            .BindTo(Model.Introductions)
            .Value(Model.IntroductionId?.ToString())
            .Events(e => e.Select("onSelectIntroduction"))
            )
    </div>
    <div class="col-lg-1 col-md-1 col-xs-1 cus-textalign-droite">
        @(Html.Kendo().Button().CreateDefautButtonAjouterIcon("ajoutIntroductionButton", "onAddIntroductionButtonClick"))
    </div>
</div>

@(Html.Kendo().Dialog().CreateDefautDialog("addIntroductionDialog"))

<div class="col-lg-12 col-md-12 col-xs-12" id="PartialViewDetailIntroduction"></div>

<script type="text/javascript">
    function loadDetaiIntroById(introductionId) {
        $.ajax({
            url: '@Url.Action("PartialViewDetailIntroduction", IntroductionController.ControllerName)',
            type: "POST",
            data: { introductionId: introductionId },
            success: function (recData) { $('#PartialViewDetailIntroduction').html(recData) },
            error: erreurFunction
        });
    }

    function onSelectIntroduction(e) {
        var dataItem = this.dataItem(e.item.index());
        loadDetaiIntroById(dataItem.Id);
    }

    function onAddIntroductionButtonClick(e) {
        $.ajax({
            url: '@Url.Action("PartialViewAddIntroduction", IntroductionController.ControllerName)',
            type: "POST",
            success: function (recData) {
                openDialog('#addIntroductionDialog', 'Ajouter un onglet d\'introduction', recData);
            },  
            error: erreurFunction
        });
    }
</script>

@if (Model.IntroductionId.HasValue)
{
    <script>
        $(function(){
            loadDetaiIntroById("@Model.IntroductionId");
        });
    </script>
}
