@using Altalents.Entities.Enum;
@using Altalents.MVC.Models.Marque;
@model PartialViewUpdateMarqueModel

<script>
    $(function () {
        resetImages();
        refreshNoticesMarque();
        refreshIndex();
        loadPartialViewGestionMarqueReferenceLibre("@EnumTypeMarqueReferenceLibre.MotLatin", '#PartialViewMotLatinMarque');
        loadPartialViewGestionMarqueReferenceLibre("@EnumTypeMarqueReferenceLibre.InitialeLatin", '#PartialViewInitialeLatineMarque');
        openLoadingDialog();
    })

    function openLoadingDialog() {
        $.ajax({
            url: '@Url.Action("PartialViewLoadingDialog", HomeAdminController.ControllerName)',
            type: "POST",
            success: function (recData) {
                openDialog('#loadingDialog', 'Chargement en cours ...', recData);
            },
            error: erreurFunction
        });
    }

    function resetImages() {
        LoadPartialViewUploadFileToMarque(refreshImages);
    }

    function LoadPartialViewUploadFileToMarque(callback) {
        $.ajax({
            url: '@Url.Action("PartialViewUploadFileToMarque", MarqueController.ControllerName)',
            type: "POST",
            data: { IdMarque: "@Model.IdMarque" },
            success: function (recData) { $('#PartialViewUploadFileToMarque').html(recData); },
            error: erreurFunction,
            complete: function () {
                if (typeof (callback) === 'function') {
                    callback();
                }
            }
        });
    }

    function refreshImages() {
        $.ajax({
            url: '@Url.Action("PartialViewImageMarque", MarqueController.ControllerName)',
            type: "POST",
            data: { IdMarque: "@Model.IdMarque" },
            success: function (recData) { $('#PartialViewImageMarque').html(recData) },
            error: erreurFunction
        });
    }

    function refreshIndex() {
        $.ajax({
            url: '@Url.Action("PartialViewIndexMarque", MarqueController.ControllerName)',
            type: "POST",
            data: { IdMarque: "@Model.IdMarque" },
            success: function (recData) { $('#PartialViewIndexMarque').html(recData) },
            error: erreurFunction
        });
    }

    function refreshNoticesMarque() {
        $.ajax({
            url: '@Url.Action("PartialViewNoticesMarque", MarqueController.ControllerName)',
            type: "POST",
            data: { IdMarque: "@Model.IdMarque" },
            success: function (recData) { $('#PartialViewNoticesMarque').html(recData) },
            error: erreurFunction
        });
    }

    function loadPartialViewGestionMarqueReferenceLibre(type, idDiv) {
        $.ajax({
            url: '@Url.Action("PartialViewGestionMarqueReferenceLibre", MarqueController.ControllerName, new { marqueId = Model.IdMarque })',
            type: "POST",
            data: { type: type },
            success: function (recData) { $(idDiv).html(recData) },
            error: erreurFunction
        });
    }

    function reloadUpdateMarque() {
        document.location.href = '@Url.Action("Update", MarqueController.ControllerName, new { idMarque = Model.IdMarque })';
    }

    var confirmMessage = undefined;

    function onMarqueSaveClick(callback) {
        if (confirmMessage) {
            var functionOnConfirmation = function () {
                onMarqueSaveClickRunner(callback);
            }
            openConfirmationEnregistrementMarquePublieeDialog(functionOnConfirmation, undefined, confirmMessage);
        } else {
            onMarqueSaveClickRunner(callback);
        }
    }

    function onMarqueSaveClickRunner(callback) {
        disableActionsBtns();
        var saveMarqueIndexCaller = saveMarqueIndex();
        if (saveMarqueIndexCaller) {
            saveMarqueIndexCaller
                .success(function () {
                    saveNoticesRunner(callback);
                })
                .error(function (recdata) {
                    erreurFunction(recdata);
                    enableActionsBtns();
                });
        } else {
            enableActionsBtns();
        }
    }

    function saveNoticesRunner(callback) {
        var saveMarqueNoticeCaller = saveMarqueNotice();
        if (saveMarqueNoticeCaller) {
            saveMarqueNoticeCaller
                .success(function () {
                    saveOrdresImagesRunner(callback);
                })
                .error(function (recdata) {
                    erreurFunction(recdata);
                    enableActionsBtns();
                });
        } else {
            enableActionsBtns();
        }
    }

    function saveOrdresImagesRunner(callback) {
        var saveOrdresImagesCaller = saveMarqueOrdresImages();
        if (saveOrdresImagesCaller) {
            saveOrdresImagesCaller
                .success(function () {
                    // Si OK : enregistrement terminé
                    finalisationSaveMarque(callback);
                })
                .error(function (recdata) {
                    erreurFunction(recdata);
                    enableActionsBtns();
                });
        } else {
            enableActionsBtns();
        }
    }

    function finalisationSaveMarque(callback) {
        if (typeof (callback) === 'function') {
            callback();
        } else {
            enregistrementReussi();
            reloadUpdateMarque();
        }
    }

    function disableActionsBtns() {
        $("#Enregistrer" + "@Model.IdMarque").attr("disabled", "disabled");
        $("#Previsualiser" + "@Model.IdMarque").attr("disabled", "disabled");
    }

    function enableActionsBtns() {
        $("#Enregistrer" + "@Model.IdMarque").removeAttr("disabled");
        $("#Previsualiser" + "@Model.IdMarque").removeAttr("disabled");
    }

    function onMarquePrevisualisationClick() {
        window.open('@Model.Settings.PathPrevisualisationMarqueFront' + '@Model.IdMarque', '_blank');
    }
</script>

<div class="cus-textalign-droite cus-m-10">
    @if (Model.DatePublication.HasValue)
    {
        <p>Marque publiée le @Model.DatePublication.</p>
    } else
    {
        <p style="color:red">Marque non publiée.</p>
    }

    @(Html.Kendo().Button().CreateDefautButtonEnregistrer(Model.IdMarque.ToString(), "onMarqueSaveClick"))
    @(Html.Kendo().Button().CreateDefautButton("Previsualiser" + Model.IdMarque, LibellesResources.CommunBtnPrevisualiser, "onMarquePrevisualisationClick", themeColor: ThemeColor.Primary))
</div>

<div id="" class="row">
    <div class="col-lg-2">
        <div id="UploadFileMarque" class="row">
            <div class="col-lg-12 col-md-12 col-xs-12" id="PartialViewUploadFileToMarque"></div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12" id="PartialViewImageMarque"></div>
        </div>
    </div>
    <div class="col-lg-4" id="PartialViewIndexMarque"></div>
    <div class="col-lg-6">
        <div id="PartialViewNoticesMarque"></div>
        <div class="row cus-mt-10">
            <div class="col-lg-6">
                <span>&nbsp;</span>
                <span id="PartialViewMotLatinMarque"></span>
                </div>
            <div class="col-lg-6">
                <span>&nbsp;</span>

                <span id="PartialViewInitialeLatineMarque"></span>
                </div>
        </div>
    </div>
</div>
