@using Altalents.MVC.Controllers.Admin;
@model UpdateMarqueModel
@{
    ViewData["Title"] = "Mise à jour d'une marque";
    Layout = "_LayoutAdmin";
}

<script>
    $(function () {
        if ('@Model.MarqueId' != "") {
            reloadPartialViewUpdateMarque('@Model.MarqueId');
        }
    });

    function reloadPartialViewUpdateMarque(marqueId) {
        $.ajax({
            url: '@Url.Action("PartialViewUpdateMarque", MarqueController.ControllerName)',
            type: "POST",
            data: { IdMarque: marqueId },
            success: function (recData) { $('#PartialViewUpdateMarque').html(recData) },
            error: erreurFunction
        });
    }
</script>

<script src="~/js/admin/administrationMarques.js" asp-append-version="true"></script>
<h2>@ViewData["Title"]</h2>

<div class="row cus-mb-10">
    <div class="col-lg-2 col-md-2 col-xs-2">Numéro Lugt :</div>
    <div class="col-lg-10 col-md-10 col-xs-10">
        @(Html.Kendo().ComboBox()
            .CreateDefautComboBox("dropDownMarque", LibellesResources.MarqueComboBoxPlaceholder, nameof(MarqueDtoBase.ReferenceLugt), nameof(MarqueDtoBase.IdMarque), hasAutoBind:true)
            .CreateDefautComboBoxDataSource("GetMarques", MarqueController.ControllerName)
            .Value(Model.ReferenceLugt)
            .Events(e => e.Select("onSelectMarque"))
            .ClearButton(false)
            )
    </div>
</div>

<div class="cus-width-max cus-mt-10" id="PartialViewUpdateMarque"></div>
