@model TexteDiversDto

@{
    ViewData["Title"] = "Gestion des crédits et mentions légales";
    Layout = "_LayoutAdmin";
}

<script>
    function onSaveCreditsEtMentionsLegalesClick(e) {
        $("#Enregistrer" + "@Model.Id").attr('disabled', true);

        var textbox = $("#creditsEtMentionsLegalesTitreFrTextBox").data("kendoTextBox");
        let titreFr = textbox.value();
        var editor = $("#creditsEtMentionsLegalesDetailFrEditor").data("kendoEditor");
        let detailFr = editor.value();

        textbox = $("#creditsEtMentionsLegalesTitreEnTextBox").data("kendoTextBox");
        let titreEn = textbox.value();
        editor = $("#creditsEtMentionsLegalesDetailEnEditor").data("kendoEditor");
        let detailEn = editor.value();

        if (titreFr !== "" && detailFr !== "" && titreEn !== "" && detailEn !== "") {
            $.ajax({
                url: '@Url.Action("UpdateCreditsEtMentionsLegales", CreditsEtMentionsLegalesController.ControllerName)',
                type: "POST",
                data: { creditsEtMentionsLegalesId: "@Model.Id", titreFr: titreFr, detailFr: detailFr, titreEn: titreEn, detailEn: detailEn },
                success: function (recData) {
                    enregistrementReussi();
                    $("#Enregistrer" + "@Model.Id").attr('disabled', false);
                },
                error: erreurFunction
            });
        } else {
            showNotification('@(LibellesConstantes.ChampsObligatoires)', 'warning')
        }
    }
</script>

<h2>Gestion des crédits et mentions légales</h2>

<div class="k-card">
    @(Html.Kendo().TabStrip()
            .Name("creditsEtMentionsLegalesTabs")
            .Animation(animation =>
            {
                animation.Open(effect =>
            {
                effect.Fade(FadeDirection.In);
            });
            })
            .Items(tabstrip =>
            {
                tabstrip.Add().Text("Français")
            .Selected(true)
            .Content(@<text>
                @(Html.CreateDefautTextBox(new() { Label = LibellesResources.TexteDiversTitreFr, Name = "creditsEtMentionsLegalesTitreFrTextBox", Value = Model.TitreFr, HtmlAttributes = new { @class = "cus-width-max" } }))
                    <label class="cus-mt-10" for="creditsEtMentionsLegalesDetailFrEditor">@LibellesResources.TexteDiversDetailFr</label>
                    @(Html.CreateDefautEditor(new() { Name = "creditsEtMentionsLegalesDetailFrEditor", Value = Model.DetailFr, HtmlAttributes = new { style = "width: 100%; height:470px" } }))
                </text>);

                tabstrip.Add().Text("Anglais")
            .Content(@<text>
                @(Html.CreateDefautTextBox(new() { Label = LibellesResources.TexteDiversTitreEn, Name = "creditsEtMentionsLegalesTitreEnTextBox", Value = Model.TitreEn, HtmlAttributes = new { @class = "cus-width-max" } }))
                    <label class="cus-mt-10" for="creditsEtMentionsLegalesDetailEnEditor">@LibellesResources.TexteDiversDetailEn</label>
                    @(Html.CreateDefautEditor(new() { Name = "creditsEtMentionsLegalesDetailEnEditor", Value = Model.DetailEn, HtmlAttributes = new { style = "width: 100%; height:470px" } }))
                </text>);
            })
        )
    <div class="cus-textalign-droite cus-m-10">
        @(Html.Kendo().Button().CreateDefautButtonEnregistrer(Model.Id.ToString(), "onSaveCreditsEtMentionsLegalesClick"))
    </div>
</div>
