@using AlteaTools.Session.Extension
@using AlteaTools.Session
@inject IHttpContextAccessor Accessor
@{
    var session = Accessor.HttpContext.Session;
    var isLogged = session.Get<bool>(SessionKeyConstantes.IsLogged);
}
<!DOCTYPE html>
<html lang="fr">
<partial name="_headerAdmin" />
@{
    bool isUtilisateur = (bool?)ViewData["isUtilisateur"] ?? false;
}
<script type="text/javascript">
    kendo.culture("fr-FR");
</script>

<body class="@("h-100 " + (isLogged ? "" : "colorViolet"))">
    <div class="row h-100">
        @if (isLogged)
        {
            <div class="col-3 colorViolet">
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4"><img src="~/Images/LOGO_ALTALENTS.png" /></div>
                    <div class="col-4"></div>
                </div>
                <a class="lienmenu @(""+(isUtilisateur ? "menuselected" : ""))" href="@Url.Action("Index", UtilisateurController.ControllerName)">Gestion des comptes utilisateurs</a>
                <a class="lienmenu" href="@Url.Action("Logout", AccountController.ControllerName)">Se deconnecter</a>
                @Html.Raw(JavaScriptSnippet.FullScript)
            </div>
        }
        else
        {
            <div class="col-3">
            </div>
        }
        <div class="col-9">
            <div class="row">
                <main role="main" class="col-12 pb-3">
                    @(Html.Kendo().Notification()
                        .Name("popupNotification")
                        .AutoHideAfter(5000)
                        .Width(300)
                        .Position(p => p.Top(70))
                        )

                    @(Html.Kendo().Dialog()
                        .CreateDefautDialog("confirmationDialog", 500)
                        .Actions(a =>
                        {
                            a.Add().Text("Non").Action("onNonConfirmationDialogClick");
                            a.Add().Text("Oui").Primary(true).Action("onConfirmationDialogClick");
                        })
                        )

                    @(Html.Kendo().Dialog().CreateDefautDialog("loadingDialog").Closable(false))
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/siteAdmin.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script src="/js/cultures/kendo.culture.fr-FR.min.js"></script>
<script src="/js/cultures/kendo.messages.fr-FR.min.js"></script>
